{% extends "auctions/layout.html" %}

{% block body %}
    <br><br><br><br>
    
    <div class="container">
    <div class="row justify-content-center">
      <h2 class="text-primary mb-5"> Your Watchlist </h2>
    </div>
      <div class="row">
      {% for product in products%}
          <div class="d-flex col-4 mb-5 justify-content-center">
            <a href="{% url 'auction' product.id %}">  
            <div class="card shadow-lg" style="width: 18rem;">
                  <img src="{{product.img}}" onerror="this.onerror=null; this.src='https://i.dlpng.com/static/png/6825249_preview.png'" class="card-img-top" alt="..." width=200 height=250>
                </a>
                  <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>                      
                      {%if product.bids.all.count == 0%}
                      <p class="card-text text-primary">
                      <strong>Price: {{product.startBid}}$</strong></p>
                      {%else%}
                      <p class="card-text text-primary">
                      <strong>Price: {{product.bids.first.amount}}$</strong></p>
                      {%endif%}
                    <p class="card-text">{{product.desc}}</p>
                    <a href="#"<span class="badge badge-primary badge-pill">{{ product.category }}</span></a>
                  </div>
                </div>
          </div>
      {% endfor %}
        </div>
    </div>
{% endblock %}